.formInscription {
  height: fit-content;
  width: 40em;
  border: solid 1px;
  border-radius: 3%;
  padding: 1em 2em;
  background-color: #F8F8FF;
  margin-top: 11em;
  font-family: 'Inter', sans-serif;
  border: 3px solid #467b2e;
}

.formInscription h2 {
  text-align: center;
}

.formInscription hr {
  border-color: #467b2e;
}

.formInscription input {
  width: 90%;
  height: 3em;
  border-radius: 1em;
  margin-bottom: 1em;
  background: rgba(69.91, 123.46, 46.01, 0.4);
  border-color: #467b2e;
  color: #222831;
  font-size: large
}

.formInscription label {
  font-size: 1.3em;
  font-weight: bold;
}

::placeholder {
  color: #222831;
  opacity: 80%;
}

.buttonRegistration {
  text-align: center;
}

.buttonEnvoyer {
  cursor: pointer;
  color: #f8f8ff;
  background-color: #59a52c;
  border: 1px solid #81e883;
  font-weight: bold;
  font-size: 20px;
  height: 2.5em;
  width: 10em;
  border-radius: 1.5em;
}
.red {
  color: red;
}

.green {
  color: green;
}

@media only screen and (max-width: 425px) {
  .formInscription {
    width: 80%;
  }

  .formInscription input {
    height: 2em;
  }

  .inputDateNaissance input {
    width: 80%;
  }
}
