.formInscription {
  height: 68%;
  width: 40em;
  border: solid 1px;
  border-radius: 5%;
  padding-top: 1em;
  padding-left: 2em;
  background-color: #2a4b47;
}

.formInscription h2 {
    text-align: center;
}

.formInscription input {
  width: 90%;
  height: 3em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.formInscription label {
  font-size: 1.3em;
  font-weight: bold;
}

.buttonRegistration {
  text-align: center;
}

.buttonEnvoyer {
  color: #2a4b47;
  background-color: #c1b37a;
  font-weight: bold;
  font-size: 15px;
  height: 3em;
  width: 10em;
  border-radius: 1em;
}
.inputDateNaissance {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.inputDateNaissance input {
  width: 100%;
}
.red {
  color: red;
}

.green {
  color: green;
}