.formInscription {
  height: fit-content;
  width: 40em;
  border: solid 1px;
  border-radius: 5%;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
  background-color: #222831;
}

.formInscription h2 {
  text-align: center;
}

.formInscription hr {
  border-color: #81e883;
}

.formInscription input {
  width: 90%;
  height: 3em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.formInscription label {
  font-size: 1.3em;
  font-weight: bold;
}

.buttonRegistration {
  text-align: center;
}

.buttonEnvoyer {
  color: #222831;
  background-color: #59a52c;
  border: 1px solid #81e883;
  font-weight: bold;
  font-size: 15px;
  height: 3em;
  width: 10em;
  border-radius: 1em;
}
.inputDateNaissance {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.inputDateNaissance input {
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

@media only screen and (max-width: 425px) {
  .formInscription {
    width: 80%;
  }

  .formInscription input {
    height: 2em;
  }

  .inputDateNaissance input {
    width: 80%;
  }
}
