.formConnexion {
  width: 40em;
  border: solid 1px #467b2e;
  border-radius: 3%;
  padding: 1em;
  background-color: #f8f8ff;
  text-align: center;
  margin-top: 11em;
  margin-bottom: 4.2em;
  font-family: 'Inter', sans-serif;
  border: 3px solid #467b2e;
}

.formConnexion h2 {
  text-align: center;
}

.formConnexion hr {
  margin-bottom: 3em;
  border-color: #467b2e;
}

.formConnexion input {
  margin-top: 1em;
  width: 50%;
  height: 3em;
  border-radius: 1em;
  margin-bottom: 1.5em;
  background: rgba(69.91, 123.46, 46.01, 0.4);
  border-color: #467b2e;
  color: #222831;
  font-size: large
}

::placeholder {
  color: #222831;
  opacity: 80%;
}

.formConnexion label {
  font-size: 1.3em;
  font-weight: bold;
}
.buttonConnect {
  text-align: center;
}

.buttonConnexion {
  cursor: pointer;
  color: #F8F8FF;
  background-color: #58A52D;
  font-weight: bold;
  font-size: 20px;
  height: 2.5em;
  width: 10em;
  border-radius: 1.5em;
  margin-bottom: 2em;
  border: 1px solid #81e883;
}

.passwordInputContainer {
  display: flex;
  flex-direction: column;
}
.inputMdp {
  position: relative;
}
.formConnexion input {
  padding-right: 2.5em; /* Ajoutez de l'espace à droite pour l'icône */
}

.passwordToggleIcon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 10em;
  cursor: pointer;
  height: 2em;
}

.linkInscription {
  text-decoration: none;
  color: #58A52D;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .formConnexion {
    width: 70%;
  }
  .passwordToggleIcon {
    right: 7em;
  }

  .formConnexion input {
    width: 60%;
    height: 2.5em;
  }
}

@media only screen and (max-width: 425px) {
  .formConnexion {
    width: 75%;
    height: 55%;
    margin-bottom: 3em;
  }
  .passwordToggleIcon {
    right: 3em;
  }

  .formConnexion input {
    height: 2.5em;
    width: 70%;
  }
}
