/* MENU */
header {
  height: 5em;
  width: 100%;
  background-color: #A8A8A8;
  font-family: Helvetica;
  list-style: none;
  font-size: 1.5em;
}

.navBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logoNav {
  height: 100%;
  display: flex;
  align-items: center;
}

.classementNav {
  height: 100%;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.classementNav li a {
  color: #000000;
  text-decoration: none;
}

.rechercheNav {
  margin-right: 7em;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1.5em;
}

.titreNav {
  height: 100%;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.titreNav li a {
  color: #000000;
  text-decoration: none;
}

.connexion,
.inscription {
  height: 4em;
  width: 10em;
  border-radius: 15%;
  margin-left: 2em;
}

.langue li {
  list-style: none;
}
/* MENUS DEROULANTS */

.navBar li ul {
  /* PERMET L'APPARITION DU SS-MENU */
  display: none;
  list-style: none;
  padding: 0;
  width: 13%;
}

.navBar li:hover ul {
  display: block;
}

/* SOUS MENUS DEROULANT */
.navbarClassement {
  position: absolute;
  display: block;
  text-align: center;
  background-color: rgb(180, 180, 180);
  border-radius: 2%;
  border: 1px solid black;
  margin-top: 1em;
  z-index: -1;
}
.navbarTitre {
  position: absolute;
  display: block;
  text-align: center;
  background-color: rgb(180, 180, 180);
  border-radius: 2%;
  border: 1px solid black;
  margin-top: 1em;
  z-index: -1;
}

/* TAILLE DES SS-CATEGORIES */

.navbarClassement li a,
.navbarTitre li a {
  line-height: 2em;
}
.navBar li.vide {
  height: 11em;
  border-bottom: 1px solid black;
}
