footer {
  height: 10em;
  width: 100%;
  background-color: #222831;
  color :#59a52c;
  font-family: Helvetica;
  list-style: none;
  font-size: 1em;
  margin-top: 2.5em;
}

.footerLink {
  display: flex;
  justify-content: space-around;
}

.footerLink ul {
  list-style: none;
  display: flex;
  font-weight: bolder;
}

.footerLink ul li {
  margin: auto 1.5em;
}

.footerSocials {
  display: flex;
  justify-content: center;
}

.footerSocials svg {
  width: 2em;
  height: 2em;
  margin: auto 1em;
}

.footerSlogan {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-style: italic;
}

@media screen and (max-width: 425px) {
  .footerLink ul {
   padding: 0;
  }
}