footer {
  height: 10em;
  width: 100%;
  background-color: #F8F8FF;
  color :#222930;
  font-family: Helvetica;
  list-style: none;
  font-size: 1em;
  margin-top: 2.5em;
  border-top: 1px solid #467B2E;
}

.footerLink {
  display: flex;
  justify-content: space-around;
}

.footerLink ul {
  list-style: none;
  display: flex;
  font-weight: bolder;
}

.footerLink ul li {
  margin: auto 1.5em;
  cursor: pointer;
}

.footerSocials {
  display: flex;
  justify-content: center;
  height: 3.5em;
  align-items: center;
}

.facebook, 
.twitter,
.instagram {
  cursor: pointer;
}

.footerSlogan {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-style: italic;
}
@media screen and (max-width: 425px) {
  .footerLink ul {
   padding: 0;
  }
}