.accueilPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #37414f;
  color: #59a52c;
}

.titreAccueil {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .accueilPage {
    height: 100%;
  }
}

 @media screen and (max-width: 425px) {
  .titreAccuei {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }