.accueilPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#467B2E, #F8F8FF);
  color: #222930;
}

.accueilContainer {
  margin-top: 11em;
}

.titreAccueil {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .accueilPage {
    height: 100%;
  }
}

 @media screen and (max-width: 425px) {
  .titreAccuei {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }